@import '../../variables';

.products-container{
    display: flex;

    .products-sidebar{
        min-width: 250px;
        max-width: 250px;
        border-right: 1px solid $borderColor;
        
        .sidebar-title{
            color: $primaryColor;
            padding: 20px 0;
            margin-top: 15px;
        }

        .sidebar-filter{
            &-list{
                padding-right: 15px;
            }

            &-list-item{
                
                margin-bottom: 15px;

                label{
                    display: flex;
                    cursor: pointer;

                    span {
                        display: inline-block;
                        margin-left: 10px;
                    }
                }
                
                
            }
        }

        .sidebar-feature-container{
            margin-top: 74px;
        
            .feature-list{
                &-item{

                }
            }
        }
    }

    .products-page{
        display: flex;

        .product{
            position: relative;

            &-header{
                padding: 0 15px;

                &-picture{
                    width: 75%;
                    margin: auto;

                    img{
                        width: 100%;
                    }
                }
    
                &-name{
                    color: $primaryColor;
                    margin-bottom: 15px;
                }
    
                &-price{
                    font-weight: 700;
                    font-size: 1.2em;
                    margin-bottom: 5px;
                }
    
                &-desc{
                    color: $lightFontColor;
                    font-size: 12px;
                    padding-bottom: 25px;
                    border-bottom: 1px solid $borderColor;
                }
            }

            &-content{
                position: absolute;
                top: 383px;
                width: 100%;
            }

            &-feature-list{
                
            }

            &-feature-list-item{
                &.badges{
                    position: relative;

                    img{
                        width: 210px;
                        position: absolute;
                        top: -32px;
                        left: -24px;
                    }
                }
            }
        }
    }

    .list-item{
        font-size: 14px;
        font-weight: 500;
        padding: 10px 0 10px 15px;
        border-bottom: 1px solid $borderColor;
        min-height: 15px;

        &.highlight{
            background: $borderColor;
        }
    }
}