@import '../../variables';

.products-container{
    display: flex;
    padding-bottom: 40px;
    border-bottom: 4px solid $primaryColor;

    .products-wrapper{
        display: flex;

        .product{
            position: relative;
            max-width: 300px;

            

            &-content{
                position: absolute;
                top: 383px;
                width: 100%;
            }

            &-feature-list{
                
            }

            &-feature-list-item{
                &.badges{
                    position: relative;

                    img{
                        width: 210px;
                        position: absolute;
                        top: -32px;
                        left: -24px;
                    }
                }
            }
        }
    }

    .list-item{
        font-size: 14px;
        font-weight: 500;
        padding: 10px 0 10px 15px;
        border-bottom: 1px solid $borderColor;
        min-height: 15px;

        &.highlight{
            background: $borderColor;
        }
    }
}